{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block content %}

<h1 style="text-align: center"> Hello {{ title }}</h1>
<br>
<div class="row">
<div class="col-md-6 offset-md-3">
{% if confirm_message %}
<p align="center"> {{ confirm_message }} </p>
<img src="{% static "media/THANK.jpg" %}" width="100%">
{% endif %}

{% if form %}
<form method="post" action="" style="margin: 80px">
{% csrf_token %}
{{ form|crispy}}
<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="g-recaptcha" data-sitekey="6Lc4CZAUAAAAADM6nKQKck8ohpgZlIe6paq79iN5"></div>
<input type="submit" value="submit form" class="btn btn-primary">

</form>
<br>
{% endif %}
</div>
</div>
{% endblock %}