{% load staticfiles %}

<!--- Footer -->
<footer>
<div class="container-fluid padding">
	<div class="row text-center">
		<div class="col-md-4">
			<img src="{% static "media/jecrc.png" %}">
			<hr class="light">
			<p>998-338-7212</p>
			<P>kratik1998@gmail.com</P>
			<p>21 B, Baker Street</p>
			<p> Jaipur, Rajasthan(302022)</p>
		</div>
		<div class="col-md-4">
			<hr class="light">
			<h5> Our Hours </h5>
			<hr class="light">
			<p>Monday: 9 AM - 5 PM </p>
			<p>Saturday: 9 AM - 1 PM </p>
			<p>Sunday: CLOSED!!!! </p>
		</div>
		<div class="col-md-4">
			<hr class="light">
			<h5> Service Area </h5>
			<hr class="light">
			<p> Jaipur, Rajasthan 302022</p>
			<p> Udaipur, Rajasthan 313701</p>
			<p> Pune,302022</p>
			<p> Bangalore, 302022</p>
		</div>
		<div class="col-12">
			<hr class="light-100">
			 <h5>&copy; <a href="{% url 'home' %}">HOMEPAGE</a></h5>
			<a href="#"> <h6> Back to top</h6></a>
		</div>
	</div>
</div>
</footer>